<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analizador</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>PROYECTO ANALIZADOR LEXICO</h2> 
   <p>Este proyecto es un analizador léxico desarrollado en el entorno de Apache NetBeans utilizando el lenguaje de 
    programación Java. Su principal propósito es procesar y analizar cadenas de texto, descomponiéndolas en unidades 
    fundamentales llamadas tokens. Estos tokens representan fragmentos significativos de texto, como palabras clave, 
    identificadores, operadores, símbolos y otros componentes sintácticos. Una vez descompuestos, los tokens pueden 
    ser utilizados en etapas posteriores, como la compilación o la interpretación de código. <br><br>

El analizador léxico actúa como una de las primeras fases en el proceso de análisis de un compilador o intérprete. 
Su función es clave, ya que convierte el código fuente de alto nivel, que es comprensible para los programadores, 
en una secuencia de tokens que el sistema puede procesar más fácilmente. En este proceso, se identifican elementos 
cruciales como las palabras clave del lenguaje (por ejemplo, if, while, class), los identificadores de variables o 
funciones, operadores aritméticos y lógicos (+, -, &&), números, y otros símbolos que componen la sintaxis del código 
fuente.<br><br>
Además de identificar estos componentes, el analizador léxico también se encarga de eliminar elementos irrelevantes 
como los espacios en blanco y los comentarios, que no son necesarios para la compilación o interpretación, pero que 
sí ayudan a mejorar la legibilidad del código fuente. De esta manera, el analizador léxico no solo simplifica el código 
para las etapas posteriores del compilador, sino que también garantiza que el código siga las reglas del lenguaje de 
programación.<br><br>

<img  src="../images/Proyecto Compilador.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/Analizador-l-xico-.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>

    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>

</body>
</html>