<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caracteristicas de windows</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>CARACTERISTICAS DE WINDOWS</h2> 
   <p>Este programa, desarrollado en Visual Studio con C#, está diseñado para ofrecer una visión detallada y 
    completa de las características de un sistema operativo Windows. Su propósito principal es proporcionar a 
    los usuarios una herramienta poderosa para la supervisión y gestión de su entorno informático. <br><br>
    La aplicación es capaz de inspeccionar y mostrar información clave sobre diversos componentes del sistema. 
    Entre sus principales características se encuentran:<br><br>
    Información del Hardware: El programa permite a los usuarios acceder a datos detallados sobre el hardware del 
    sistema, incluyendo la información del procesador, memoria RAM, unidades de almacenamiento, y tarjetas 
    gráficas. Esto facilita la identificación de las especificaciones del hardware y ayuda en la toma de 
    decisiones para actualizaciones o mejoras.<br><br>
    Análisis del Software: La aplicación proporciona una lista exhaustiva de los programas y aplicaciones 
    instaladas en el sistema, así como su versión, estado y fecha de instalación. Esto permite a los usuarios 
    gestionar su software de manera más eficiente y desinstalar aquellos programas que ya no son necesarios.<br><br>
    Monitorización de Procesos: El programa ofrece la capacidad de visualizar los procesos en ejecución 
    en tiempo real, permitiendo a los usuarios observar el uso de recursos como CPU y memoria por cada 
    proceso. Esto es fundamental para identificar procesos que consumen excesivos recursos y podrían afectar 
    el rendimiento general del sistema.<br><br>
    En resumen, este programa se presenta como una solución integral para la monitorización y gestión del 
    sistema operativo Windows, proporcionando a los usuarios las herramientas necesarias para optimizar su 
    experiencia informática y garantizar un rendimiento óptimo del sistema. Su diseño centrado en el usuario 
    asegura que tanto usuarios novatos como expertos puedan beneficiarse de sus funcionalidades avanzadas.<br><br></p>
<img  src="../images/Proyecto SO.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/SO-Caracteristicas-de-Windows.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>