<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL CONDOR</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>PÁGINA WEB "FERRETERÍA EL CONDOR"</h2> <br>
   <p>El proyecto "El Cóndor" en Angular es un sistema diseñado para gestionar las operaciones de una 
    ferretería, ofreciendo herramientas para la administración de inventarios, ventas y control de productos. 
    Esta aplicación es ideal para automatizar procesos de negocio en una ferretería y mejorar la eficiencia 
    en la atención al cliente y el manejo de recursos. <br><br>
    <img  src="../images/elcondor.png" alt="Card 1"><br>
    Objetivo del Proyecto: Este sistema permite a los empleados de la ferretería iniciar sesión, registrar y consultar 
    información sobre productos, gestionar existencias y ventas, además de realizar búsquedas avanzadas y 
    filtradas por categorías..<br><br>
    <img  src="../images/iniciosesi.png" alt="Card 1"><br>
    Funcionalidades Clave:<br>
    Inventario de Productos: Permite agregar, editar y eliminar productos, así como ver detalles como precio, 
    cantidad en stock y proveedor.<br>
    Gestión de Ventas: Los usuarios pueden registrar ventas en tiempo real, y el sistema actualiza el 
    inventario automáticamente al confirmar la venta.<br>
    Reportes: Incluye un módulo para generar reportes detallados, que ayudan en el control del inventario y 
    las estadísticas de ventas.<br><br></p>
<img  src="../images/usuario.png" alt="Card 1"><br>
<p><a href="https://github.com/Alex-Pablo/frontedElCondor.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>