<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="./Estilo/EstiloHabilidades.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>
        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body><br><br><br>
<main>
    <h3>HABILIDADES</h3>
    <div class="contenedor">
        
        <div class="card">
            <img  src="../images/figma.png" alt="Card 1">
            <h2 class="tileCard">65%</h2>
            
        </div>
        <div class="card">
            <img  src="../images/c++.png" alt="Card 1">
            <h2 class="tileCard">45%</h2> 
        </div>
        <div class="card">
            <img  src="../images/sql.jpg" alt="Card 1">
            <h2 class="tileCard">50%</h2>
        </div>
        <div class="card">
            <img  src="../images/images.png" alt="Card 1">
            <h2 class="tileCard">40%</h2>
        </div>
    </div>
</main>

    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>