<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio profesional Karina</title>

    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body><br><br><br>
    <div class="container">
        <div class="title">
            <h1>Portafolio <span>Profesional</span></h1>
            <div class="name">Karina Chumil</div>
        </div>
        <div class="photo-container">
            <img src="./images/MIFOTO.jpeg" alt="Foto de Karina Chumil">
        </div>
        <div class="description">
            Cada día es una nueva oportunidad.
        </div>
    </div><br><br>

    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>