<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mru-mruv</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>

<div class="cajaG">
   <h2>APLICACIÓN MRU-MRUV</h2> <br>
   <p>Este sitio web está construido con HTML, CSS y JavaScript y utiliza formularios y cálculos para analizar 
    las ecuaciones relacionadas con estos movimientos, brindando una experiencia interactiva a los usuarios. <br><br>
    <img  src="../images/MRUMRUV.png" alt="Card 1"><br><br>
    Objetivo del Proyecto: La aplicación permite a los usuarios ingresar variables como velocidad, tiempo, 
    aceleración y posición inicial para calcular los resultados en distintos escenarios de MRU y MRUV. 
    A su vez, es un recurso didáctico para que estudiantes comprendan cómo se aplican estas ecuaciones en 
    problemas prácticos.<br><br>
    <img  src="../images/MRU Formula.png" alt="Card 1"><br><br>
    Estructura de Código:<br>
    HTML: La estructura principal de la interfaz está en HTML, donde se presentan los formularios para capturar 
    los datos necesarios para los cálculos.<br>
    CSS: Mejora la presentación, utilizando CSS Grid para la organización visual y para mantener un diseño 
    ordenado y accesible.<br>
    JavaScript: Realiza los cálculos y validaciones, procesando los datos ingresados para mostrar resultados 
    en tiempo real en la misma página.<br><br></p>
<img  src="../images/MRUVformula.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/Aplicaci-n-MRU-y-MRUV.git" target="_blank">Proyecto en GITHUB</a></p>

</div><br><br>

    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>