<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recientes</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>PROYECTO AQUAVET</h2> 
   <p>Aquavet es un sistema integral diseñado específicamente para la gestión y administración eficiente de una clínica 
    veterinaria. Su objetivo principal es optimizar los procesos relacionados con la atención y cuidado de los pacientes, 
    así como facilitar la administración de la clínica en general. Para su desarrollo, se utilizaron tecnologías modernas 
    como Angular para la interfaz de usuario, proporcionando una experiencia visual fluida e intuitiva, .NET para el 
    backend, que garantiza un manejo robusto de la lógica empresarial, y SQL Server para la base de datos, lo que permite 
    un almacenamiento seguro y eficiente de toda la información clínica. <br><br>

Este sistema ofrece una plataforma dinámica y accesible que permite a los usuarios gestionar diversas áreas clave de la 
clínica veterinaria, entre ellas:<br><br>
1. Gestión de pacientes: Permite almacenar y acceder rápidamente a los historiales médicos de las mascotas, incluyendo 
información detallada sobre tratamientos previos, vacunaciones, y análisis clínicos. Esto asegura un seguimiento 
adecuado de la salud de cada paciente.<br>
2. Administración de tratamientos: Los veterinarios pueden programar y documentar los tratamientos en curso, indicando 
dosis de medicamentos, fechas de aplicación y el progreso del paciente. Esto mejora la calidad del servicio al evitar errores 
o duplicidades en los tratamientos.<br>
3. Manejo de citas: El sistema cuenta con una función de calendario para la programación de citas, facilitando la 
coordinación entre los veterinarios y los clientes. Los recordatorios automáticos pueden enviarse a los propietarios 
de las mascotas para minimizar las ausencias.<br>
4. Control de inventarios: Aquavet permite gestionar el inventario de medicamentos, alimentos, equipos médicos y 
otros suministros. El sistema emite alertas cuando los niveles de inventario son bajos, lo que evita la escasez de 
productos esenciales.<br><br>
Además de estas funcionalidades, Aquavet ofrece una interfaz intuitiva que permite a los usuarios interactuar fácilmente 
con el sistema sin necesidad de un extenso entrenamiento. También cuenta con capacidades avanzadas de generación de 
reportes, lo que permite a la administración de la clínica obtener una visión detallada del rendimiento operativo, 
el estado financiero y la eficiencia en la atención al paciente.</p>
<img  src="../images/Proyecto NOVA.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/Proyecto-AQUAVET.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>

    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>

</body>
</html>
