<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreMI</title>
    <link rel="stylesheet" href="./Estilo/EstiloSobreMi.css">
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>
<!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}
<body><br><br><br>
    <p class="titulo">MIS DATOS PERSONALES</p>
    <div class="contenidoS">
        <div class="texto">
            <h2>Gela Karina Antonia Chumil</h2>
            <p>Correo personal: gcosigua2001@gmail.com</p>
            <p>Correo de la Universidad: gchumilc@miumg.edu.gt</p>
            <p>Estudiante de Ingeniera en Sistemas de Información </p>
            <p>y Ciencia de la Comunicación</p><br>
            <h2>Objetivo personal</h2>
            <p>“Formar parte de una empresa en donde pueda ampliar</p>
            <p>mis conocimientos sobre las tecnologías y sobresalir de</p>
            <p>manera profesional.”</p>
        </div>
        <div class="imagen">
            <img src="../images/Foto.jpeg" alt="Foto" height="200px">
        </div> 
    </div><br><br>
    <div class="caja2">
        <h2>Biografía</h2>
        <p>Nací en el año 2001 y realicé mis estudios de nivel primario en la Escuela Oficial Rural Mixta
        (EORM). Continué mi formación en el Instituto Dr. Juan José Arévalo, donde completé mis
        estudios de nivel básico. Posteriormente, continúe en la escuela en Ciencias de la
        Computación durante mi bachillerato. Actualmente, estoy cursando mis estudios
        universitarios en la Universidad Mariano Gálvez de Sololá.</p>
        <h2>Metas</h2>
        <ul>
            <li>Graduándome como Ingeniera en Sistemas. </li>
            <li>Participar en proyectos innovadores de tecnología.</li>
            <li>Mantener un equilibrio entre la vida personal y profesional.</li>
        </ul>
    </div>
</body><br>

<!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>

</html>