<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>TABLAS DE MULTIPLICAR</h2> <br>
   <p>Este proyecto es una aplicación desarrollada en JavaScript orientada a la práctica de las tablas de 
    multiplicar, pensada especialmente para estudiantes o personas que buscan reforzar sus habilidades en 
    multiplicación. Este tipo de herramienta es útil tanto para el aprendizaje básico como para la práctica 
    rápida de operaciones matemáticas, proporcionando una interfaz simple y funcional. <br><br>
    <img  src="../images/appMultiplicar.png" alt="Card 1"><br>
    Objetivo del Proyecto: La aplicación permite a los usuarios generar tablas de multiplicar y visualizar 
    el resultado de una multiplicación específica, lo cual es ideal para aprender y practicar las matemáticas 
    de forma dinámica y sencilla.<br><br>
    <img  src="../images/tabla4.png" alt="Card 1"><br>
    Interfaz de Usuario: La aplicación está diseñada para ser accesible, con un diseño claro que permite a 
    los usuarios ingresar valores y obtener respuestas de manera rápida. Los botones y campos están 
    organizados para facilitar su uso en diferentes dispositivos.<br><br></p>
<img  src="../images/tabla5.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/APP-MULTIPLICAR.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>