<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teorema</title>
    <link rel="stylesheet" href="./Estilo/general.css">
    <link rel="stylesheet" href="./Estilo/inicio.css">
</head>

        <!-- Header -->
		{{> header}}

        <!-- Nav -->
		{{> navbar}}

<body>
<div class="cajaG">
   <h2>TEOREMAS</h2> 
   <p>Este proyecto, desarrollado en el entorno de Apache NetBeans con Java, se centra en la resolución 
    avanzada de ecuaciones matemáticas. <br><br>
    Ofrece una interfaz donde los usuarios pueden ingresar diversas ecuaciones, desde las básicas hasta las 
    de mayor complejidad, incluyendo ecuaciones lineales, cuadráticas y sistemas de ecuaciones.<br><br>
    El programa analiza los datos proporcionados, identifica el tipo de ecuación y utiliza algoritmos 
    matemáticos para ofrecer soluciones precisas. Además, incluye herramientas para verificar los pasos 
    intermedios, lo que ayuda a los usuarios a comprender mejor el proceso de resolución, convirtiéndolo 
    en una herramienta educativa ideal para estudiantes y profesionales.<br><br></p>
<img  src="../images/Proyecto Estadistica.png" alt="Card 1"><br>
<p><a href="https://github.com/karinachumil123/Proyecto-Estad-stica-1.git" target="_blank">Proyecto en GITHUB</a></p>

</div> <br><br>


    <!-- Footer -->
    <footer class="footer">
        {{> footer}}
    </footer>
</body>
</html>