<footer id="footer">
    <div class="inner">
        <p>Contacto</p>

        <form action="#" method="post">
            <div class="field half first">
                <label for="name">Nombre</label><br>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label><br>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Mensaje</label><br>
                <textarea name="message" id="message" rows="6" placeholder="Mensaje"></textarea>
            </div>
            <div class="actions">
                <input value="Enviar mensaje" class="button alt" type="submit"><br><br>
                <h3 class="personal-email">
                    <a href="mailto:gcosigua2001@gmail.com">Correo: gcosigua2001@gmail.com</a>
                </h3>

            <ul class="icons">
            <a href="https://www.facebook.com/profile.php?id=100084430431404&mibextid=ZbWKwL" class="icon round fa-facebook">
                <img src="./images/logos_facebook.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/karina_cc_/profilecard/?igsh=MTBtczk1ZDBncXM5MA==" class="icon round fa-instagram">
                <img src="./images/skill-icons_instagram.png" alt="Instagram" class="social-icon">
            </a>
        </ul>
        </div>
        
        </form>
    </div>
</footer>

