
<nav>
    <div class="caja1">
        <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
        <label for="menu-toggle" class="menu-toggle">☰</label>
        <div class="menu-links">
            <a href="/">Inicio</a>
            <a href="/SobreMI">Sobre MÍ</a>
            <a href="/habilidades">Habilidades</a>
            <a href="/portafolio">Portafolio</a>
            <a href="/proyectoReciente">Proyectos recientes</a>
        </div>
    </div>
</nav>


